<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %> 
</head>
<body id="top">
    <header class="short-header">
        <%- include('../partials/header') %> 
   </header>

   <main>
    <section  id="bricks">
        <div class="row masonry">
            <div class="bricks-wrapper">
                <div  class="grid-sizer">
                    <h1 style="color:#343434;"  align="center">WHO ARE WE? <hr></h1>
                    <p  style="margin-bottom: 50px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita itaque, labore provident omnis praesentium delectus adipisci quam obcaecati eos nesciunt dolores natus aperiam magni tenetur, assumenda reiciendis dolore consequatur dicta optio eum! Quae sunt distinctio cum dolorem omnis temporibus, dolorum nemo, veniam illo ea corrupti aspernatur blanditiis quasi sed, tempora iusto voluptate. Sunt pariatur quos molestias at eius itaque, ex corporis facere doloribus alias architecto dicta repellat perferendis ad! Dolorem architecto debitis ullam omnis corrupti natus, eos officia velit voluptates assumenda eaque eius dolore accusantium doloremque iure quas soluta enim quae tenetur adipisci saepe quia est? Laborum itaque amet cumque?</p>
                    <h1 style="color:#343434;"  align="center">WHAT IS OUR VISION? <hr></h1>
                    <p  style="margin-bottom: 50px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita itaque, labore provident omnis praesentium delectus adipisci quam obcaecati eos nesciunt dolores natus aperiam magni tenetur, assumenda reiciendis dolore consequatur dicta optio eum! Quae sunt distinctio cum dolorem omnis temporibus, dolorum nemo, veniam illo ea corrupti aspernatur blanditiis quasi sed, tempora iusto voluptate. Sunt pariatur quos molestias at eius itaque, ex corporis facere doloribus alias architecto dicta repellat perferendis ad! Dolorem architecto debitis ullam omnis corrupti natus, eos officia velit voluptates assumenda eaque eius dolore accusantium doloremque iure quas soluta enim quae tenetur adipisci saepe quia est? Laborum itaque amet cumque?</p>
                    <h1 style="color:#343434;"  align="center">WHAT IS OUR MISION? <hr></h1>
                    <p  style="margin-bottom: 50px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita itaque, labore provident omnis praesentium delectus adipisci quam obcaecati eos nesciunt dolores natus aperiam magni tenetur, assumenda reiciendis dolore consequatur dicta optio eum! Quae sunt distinctio cum dolorem omnis temporibus, dolorum nemo, veniam illo ea corrupti aspernatur blanditiis quasi sed, tempora iusto voluptate. Sunt pariatur quos molestias at eius itaque, ex corporis facere doloribus alias architecto dicta repellat perferendis ad! Dolorem architecto debitis ullam omnis corrupti natus, eos officia velit voluptates assumenda eaque eius dolore accusantium doloremque iure quas soluta enim quae tenetur adipisci saepe quia est? Laborum itaque amet cumque?</p>
                    <h4 style="color:#343434;" >WHO AM I?</h4>
                    <div class="card">
                        <img src="https://yunusemre-topcu.netlify.app/images/icon-1.png" width="150px" alt="me">
                        <div class="title">YUNUS EMRE TOPÇU</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   </main>

   <footer>
    <%- include('../partials/footer') %> 
</footer>
<%- include('../partials/preloader') %> 

    <%- include('../partials/scripts') %> 
</body>
</html>