<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %> 
    <link rel="stylesheet" href="/style/about.css">
</head>

<body id="top">
    <header class="short-header">
        <%- include('../partials/header') %> 
   </header>

   <main>
    <section  id="bricks">
        <div class="row masonry">
            <div class="bricks-wrapper">
                <div  class="grid-sizer">
                    <h1>who are we?</h1>
                    <p>NewsPager provides you with the most up-to-date and reliable news. 
                        Our aim is to present you with the most reliable and accurate news by making you question the 
                        reliability of the published news.</p>

                        <h1>what is our aim?</h1>
                        <p>NewsPager, our goal is to provide people with reliable news. There has been a lot of fake news on the internet lately. 
                            This type of fake news causes people to be misinformed, and this leads some people to hate another group.
                             We, as NewsPager, aim to prevent this and bring people together with reliable news that they voted for.</p>
                
                    <h1>founder</h1>

                    <div class="card">
                        <img src="https://yunusemre-topcu.netlify.app/images/icon-1.png" alt="avatar">
                        <div class="container">
                            <h4><b>Yunus Emre Topçu</b></h4>
                            <span>Jr. Software Engineer</span> <br>
                            <span>Uskudar University</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
   </main>

   <footer>
    <%- include('../partials/footer') %> 
</footer>
<%- include('../partials/preloader') %> 

    <%- include('../partials/scripts') %> 
</body>
</html>