<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head') %>
</head>
<body id="top">

    <header class="short-header">
        <%- include('../partials/header') %>
    </header>

    <main>
        <h1 style="color: #343434;">IT'S CONTACT PAGE</h1>
    </main>

    <footer>
        <%- include('../partials/footer') %> 
    </footer>
    <%- include('../partials/preloader') %> 
    
        <%- include('../partials/scripts') %> 

</body>
</html>